/.github/ @sanlee42 @nkysg
/abi @nkysg @WGB5445
/account @welbon
/cmd @welbon
/chain @nkysg

/commons @WGB5445
/commons/scmd @nkysg
/commons/accumulator @welbon
/commons/service-registry @sanlee42

/consensus @sanlee42 @welbon
/executor @nkysg @WGB5445
/genesis @WGB5445 @nkysg
/kube @sanlee42 @nkysg
/miner @sanlee42 @WGB5445
/network @sanlee42
/network-p2p @sanlee42
/network-rpc @sanlee42
/node @nkysg
/rpc @sanlee42
/state @welbon @nkysg
/storage @welbon @nkysg
/stratum @sanlee42 @WGB5445
/sync @sanlee42
/testsuite @WGB5445
/txpool @sanlee42 @welbon
/types @nkysg @welbon
/vm @nkysg
/vm/stdlib @WGB5445
/vm/move-prover @nkysg