**/target
/target
public
resources
**/*.rs.bk

# macOS Specific ignores
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea
.vscode
*iml

# Github action's files
packages-microsoft-prod.deb

examples/*.mv

# Move trace file.
*.mvcov

# Move Build Output
build/
*.bak
